<div class="card">
  <ul class="list-group list-group-flush">

    <li class="list-group-item  bg-light">
      <div class="h2">
        Embed Code
      </div>
    </li>

    <li class="list-group-item" #target>
      <form [formGroup]="embedForm" (ngSubmit)="onCreate()">
        <div class="row">
          <div class="col-6 offset-3">

            <div class="form-group">
              <label class=" font-weight-bold">Identifier</label>
              <input type="text" formControlName="identifier" class="form-control" />
              <div class="alert alert-danger"
                *ngIf="embedForm.get('identifier').touched && embedForm.get('identifier').invalid">
                Please Enter Identifier
              </div>
            </div>

            <div class="form-group">
              <label class=" font-weight-bold">Token</label>
              <input type="text" formControlName="token" class="form-control" />
              <div class="alert alert-danger" *ngIf="embedForm.get('token').touched && embedForm.get('token').invalid">
                Please Enter token
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-success btn-block" [disabled]="embedForm.invalid" type="submit">Create</button>
            </div>

          </div>
        </div>
      </form>
    </li>
    <li class="list-group-item">
      <div class=" table-responsive">
          <table class="table table-striped table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Identifier</th>
                  <th>Token</th>
                  <th colspan="2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let embedCode of embedList">
                  <td>{{embedCode.identifier}}</td>
                  <td>{{embedCode.token}}</td>
                  <td> <button class="btn btn-info btn-sm" (click)="openUpdateModal(template,embedCode.id)">Update</button></td>
                  <td><button class="btn btn-danger btn-sm" (click)="openDeleteModal(delTemplate,embedCode.id)">Delete</button></td>
                </tr>
              </tbody>
            </table>
      </div>

    </li>
  </ul>
</div>


<!-- Update Modal -->
<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left text-success">Update Embed Code</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="embedFormUpdate" (ngSubmit)="onUpdate()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class=" font-weight-bold">Identifier</label>
            <input type="text" formControlName="identifier" class="form-control" />
            <div class="alert alert-danger"
              *ngIf="embedFormUpdate.get('identifier').touched && embedFormUpdate.get('identifier').invalid">
              Please Enter Idnetifier
            </div>
          </div>

          <div class="form-group">
            <label class=" font-weight-bold">Token</label>
            <input type="text" formControlName="token" class="form-control" />
            <div class="alert alert-danger"
              *ngIf="embedFormUpdate.get('token').touched && embedFormUpdate.get('token').invalid">
              Please Enter Token
            </div>
          </div>

          <div class="form-group">

            <button class="btn btn-success btn-block" [disabled]="embedFormUpdate.invalid" type="submit">Update</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</ng-template>


<!-- Delete Modal -->

<ng-template #delTemplate>

  <div class="modal-header">
    <h4 class="modal-title pull-left text-danger">Confirmation !!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="h5">
      Are you sure to Detele this item??
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</ng-template>
