<div class="container mt-5">
    <div class="row">
        <button class="btn btn-block btn-info" routerLink="/OperatorLogin">
            User Interface
        </button>
        <button class="btn btn-block btn-info" routerLink="/AdminLogin" >
            Admin Interface
        </button>
        <button class="btn btn-block btn-info" [routerLink]="['/HeatTreat/Embed','']">
            Embedded Device Interface
        </button>
    </div>
</div>
