<div class="h1 text-danger font-weight-bold" *ngIf="!isValid">
  <br>
  Invalid Token
  <hr>
</div>

<div *ngIf="isValid">
  <h4 class="h4">Heat Treat Input</h4>
  <hr>
  <!-- Add Row, Search and List Section -->
  <div class="card">
    <ul class="list-group list-group-flush">

      <!-- Add Row Section -->
      <li class="list-group-item">
        <form #userForm="ngForm" (ngSubmit)="onAddRow()" autocomplete="off">
          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <label class=" font-weight-bold">{{ columnList[1]?.label }}</label>
                <input type="text" name="jobCardNumber" ngModel #jobCardNumber="ngModel" required
                  class="form-control" />
                <div class="alert alert-danger" *ngIf="jobCardNumber.touched && jobCardNumber.invalid">
                  Required Field
                </div>

              </div>
            </div>

            <div class="col-sm">
              <div class="form-group">
                <label class=" font-weight-bold">{{ columnList[2]?.label }}</label>
                <input type="text" ngModel name="firstName" #firstName="ngModel" required class="form-control">
                <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
                  Required Field
                </div>
              </div>
            </div>

            <div class="col-sm">
              <div class="form-group">
                <label class=" font-weight-bold">{{ columnList[3]?.label }}</label>
                <input type="text" ngModel name="stationNumber" #stationNumber="ngModel" required class="form-control">
                <div class="alert alert-danger" *ngIf="stationNumber.touched && stationNumber.invalid">
                  Required Field
                </div>
              </div>
            </div>

            <div class="col-sm">
              <div class="form-group">
                <label class=" font-weight-bold">{{ columnList[4]?.label }}</label>
                <input type="text" ngModel name="temperature" #temperature="ngModel" required class="form-control">
                <div class="alert alert-danger" *ngIf="temperature.touched && temperature.invalid">
                  Required Field
                </div>
              </div>
            </div>

            <div class="col-sm">
              <div class="form-group">
                <label class=" font-weight-bold">{{ columnList[5]?.label }}</label>
                <input type="text" ngModel name="load" #load="ngModel" required class="form-control">
                <div class="alert alert-danger" *ngIf="load.touched && load.invalid">
                  Required Field
                </div>
              </div>

            </div>

            <div class="col-sm">
              <div class="form-group">
                <label class=" font-weight-bold">&nbsp;</label>
                <button class="btn btn-success btn-block" [disabled]="userForm.invalid" type="submit">Add Row</button>
              </div>
            </div>
          </div>
        </form>
      </li>

    </ul>
  </div>
</div>
