<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col">
        <router-outlet></router-outlet>
    </div>
  </div>
  <hr>
  <footer>
      <p>&copy; {{year}} - Production WIP</p>
  </footer>
</div>
