<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item  bg-light">
      <div class="h2">
        Operator
      </div>
    </li>
    <li class="list-group-item" #target>
      <form [formGroup]="operatorForm" (ngSubmit)="onCreate()">
        <div class="row">
          <div class="col-6 offset-3">

            <div class="form-group">
              <input type="text" placeholder="Enter Name" formControlName="name" class="form-control" />
              <div class="alert alert-danger"
                *ngIf="operatorForm.get('name').touched && operatorForm.get('name').invalid">
                Please Enter the Name of Operator
              </div>
            </div>

            <div class="form-group">
              <input type="text" placeholder="Enter Number" formControlName="number" class="form-control" />
              <div class="alert alert-danger"
                *ngIf="operatorForm.get('number').touched && operatorForm.get('number').invalid">
                Please Enter Number of Operator
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-success btn-block" [disabled]="operatorForm.invalid" type="submit">Create</button>
            </div>

          </div>
        </div>
      </form>
    </li>
    <li class="list-group-item">
      <div class=" table-responsive">
          <table class="table table-striped table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Name</th>
                  <th>Number</th>
                  <th colspan="2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let operator of operatorList">
                  <td>{{operator.name}}</td>
                  <td>{{operator.number}}</td>
                  <td> <button class="btn btn-info btn-sm" (click)="openUpdateModal(template,operator.id)">Update</button></td>
                  <td><button class="btn btn-danger btn-sm" (click)="openDeleteModal(delTemplate,operator.id)">Delete</button></td>
                </tr>
              </tbody>
            </table>
      </div>
      
    </li>
  </ul>
</div>


<!-- Update Modal -->
<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left text-success">Update Operator</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="operatorFormUpdate" (ngSubmit)="onUpdate()">
      <div class="row">
        <div class="col">

          <div class="form-group">
            <input type="text" placeholder="Enter Name" formControlName="name" class="form-control" />
            <div class="alert alert-danger"
              *ngIf="operatorFormUpdate.get('name').touched && operatorFormUpdate.get('name').invalid">
              Please Enter the Name of Operator
            </div>
          </div>

          <div class="form-group">
            <input type="text" placeholder="Enter Number" formControlName="number" class="form-control" />
            <div class="alert alert-danger"
              *ngIf="operatorFormUpdate.get('number').touched && operatorFormUpdate.get('number').invalid">
              Please Enter Number of Operator
            </div>
          </div>



          <div class="form-group">

            <button class="btn btn-success btn-block" [disabled]="operatorFormUpdate.invalid"
              type="submit">Update</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</ng-template>


<!-- Delete Modal -->

<ng-template #delTemplate>

  <div class="modal-header">
    <h4 class="modal-title pull-left text-danger">Confirmation !!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="h5">
      Are you sure to Detele this item??
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</ng-template>
