<div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item  bg-light">
            <div class="h2">
              Change Password
            </div>
          </li>
          <li class="list-group-item">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
              <div class="row">
                <div class="col-6 offset-3">
      
                  <div class="form-group">
                    <input type="password" placeholder="Enter Current Password"  formControlName="currentPassword" class="form-control" />
                    <div class="alert alert-danger"
                      *ngIf="changePasswordForm.get('currentPassword').touched && changePasswordForm.get('currentPassword').invalid">
                      Please Enter Current Password
                  </div>
                  </div>

      
                  <div class="form-group">
                    <input type="password" placeholder="Enter New Password" formControlName="newPassword" class="form-control" />
                    <div class="alert alert-danger"
                      *ngIf="formControl.newPassword.touched && formControl.newPassword.invalid">
                      <div *ngIf="formControl.newPassword.errors.required">Please Enter Current Password</div>
                      <div *ngIf="formControl.newPassword.errors.minlength">Password should be minimum 4 Characters</div>
                      
                    </div>
                  </div>

                  <div class="form-group">
                        <input type="password" placeholder="Enter Confirm Password" formControlName="confirmPassword" class="form-control" />
                        <div class="alert alert-danger"
                          *ngIf="changePasswordForm.get('confirmPassword').touched && changePasswordForm.get('confirmPassword').invalid">
                          Please Enter Confirm Password
                        </div>
                      </div>
      
                  <div class="form-group">
                    <button class="btn btn-success btn-block" [disabled]="changePasswordForm.invalid" type="submit">Change Password</button>
                  </div>
                </div>
              </div>
            </form>
          </li>
        </ul>
      </div>
