<div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" #target>
          <div class="text-center">
              <h2>Admin Login.</h2>
                Use your Username & Password to log in.
          </div>
         
      </li>
      <li class="list-group-item">
        <form [formGroup]="adminLoginForm" (ngSubmit)="onLogin()">
            <div class="row">
              <div class="col-4 offset-4">
    
                <div class="form-group">
                  <input type="text" placeholder="Enter Username" formControlName="username" class="form-control" />
                  <div class="alert alert-danger"
                    *ngIf="adminLoginForm.get('username').touched && adminLoginForm.get('username').invalid">
                    Please Enter Username
                  </div>
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Enter Password" formControlName="password" class="form-control" />
                    <div class="alert alert-danger"
                      *ngIf="adminLoginForm.get('password').touched && adminLoginForm.get('password').invalid">
                      Please Enter Password
                    </div>
                  </div>
  
                <div class="form-group">
                  <button class="btn btn-success btn-block" [disabled]="adminLoginForm.invalid" type="submit">Login</button>
                </div>
  
              </div>
            </div>
          </form>
      </li>
    </ul>
  </div>
