<h4 class="h4">Heat Treat Input</h4>
<hr>
<!-- Add Row, Search and List Section -->
<div class="card">
  <ul class="list-group list-group-flush">

    <!-- Add Row Section -->
    <li class="list-group-item">
      <form #userForm="ngForm" (ngSubmit)="onAddRow()" autocomplete="off">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[1]?.label }}</label>
              <input type="text" name="jobCardNumber" ngModel #jobCardNumber="ngModel" required class="form-control" />
              <div class="alert alert-danger"
                  *ngIf="jobCardNumber.touched && jobCardNumber.invalid">
                  Required Field
              </div>

            </div>

            <div class="form-group">
              <p class=" font-weight-bold" *ngIf="imageSection">Add Some Images</p>
              <button class="btn btn-info" type="button" (click)="showImageSection()" *ngIf="!imageSection">Add Image</button>
            </div>

            <div class="imageSection" *ngIf="imageSection">
              <div class="form-group">
                <input type="file" accept="image/*" (change)="onChangeImage($event.target.files,0)">
              </div>
              <div class="form-group">
                <input type="file" accept="image/*" (change)="onChangeImage($event.target.files,1)">
              </div>
              <div class="form-group">
                <input type="file" accept="image/*" (change)="onChangeImage($event.target.files,2)">
              </div>
              <div class="form-group">
                <input type="file" accept="image/*" (change)="onChangeImage($event.target.files,3)">
              </div>
              <div class="form-group">
                <input type="file" accept="image/*" (change)="onChangeImage($event.target.files,4)">
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[2]?.label }}</label>
              <input type="text" ngModel name="firstName" #firstName="ngModel" required class="form-control">
              <div class="alert alert-danger"
                  *ngIf="firstName.touched && firstName.invalid">
                  Required Field
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[3]?.label }}</label>
              <input type="text" ngModel name="stationNumber" #stationNumber="ngModel" required class="form-control">
              <div class="alert alert-danger"
                  *ngIf="stationNumber.touched && stationNumber.invalid">
                  Required Field
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[4]?.label }}</label>
              <input type="text" ngModel name="temperature" #temperature="ngModel" required class="form-control">
              <div class="alert alert-danger"
                  *ngIf="temperature.touched && temperature.invalid">
                  Required Field
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[5]?.label }}</label>
              <input type="text" ngModel name="load" #load="ngModel" required class="form-control">
              <div class="alert alert-danger"
                  *ngIf="load.touched && load.invalid">
                  Required Field
              </div>
            </div>

          </div>

          <div class="col-sm">
            <div class="form-group">
              <label class=" font-weight-bold">&nbsp;</label>
              <button class="btn btn-success btn-block" [disabled]="userForm.invalid"  type="submit">Add Row</button>
            </div>
          </div>


        </div>
      </form>
    </li>

    <!-- Search and List Section -->
    <li class="list-group-item">

      <!-- Search Section -->
      <h4 class="h4">Search</h4>
      <form #searchForm="ngForm" (ngSubmit)="onSearch()" autocomplete="off">
        <div class="row">

          <div class="col-4">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[0]?.label }}</label>
              <input type="text"
              name="date" ngModel
           placeholder="Daterangepicker"
           class="form-control"
           bsDaterangepicker
           [bsConfig]="{ isAnimated: true }">

            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[1]?.label }}</label>
              <input type="text" name="jobCardNumber" ngModel class="form-control" />
              

            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[2]?.label }}</label>
              <input type="text" ngModel name="firstName" class="form-control">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[3]?.label }}</label>
              <input type="text" ngModel name="stationNumber" class="form-control">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[4]?.label }}</label>
              <input type="text" ngModel name="temperature" class="form-control">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnList[5]?.label }}</label>
              <input type="text" ngModel name="load" class="form-control">
            </div>

          </div>

          <div class="col-4 offset-4">
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Search</button>
            </div>
          </div>


        </div>
      </form>

      <!-- List Section -->
      <div class="table-responsive">
        <table class="table table-light table-bordered table-striped">
          <thead class="thead-light">
            <tr>
              <th>{{ columnList[0]?.label }}</th>
              <th>{{ columnList[1]?.label}}</th>
              <th>{{ columnList[2]?.label }}</th>
              <th>{{ columnList[3]?.label }}</th>
              <th>{{ columnList[4]?.label }}</th>
              <th>{{ columnList[5]?.label }}</th>
              <th>Image</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userList">
              <td>{{user.date}}</td>
              <td>{{user.jobCardNumber}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.stationNumber}}</td>
              <td>{{user.temperature}}</td>
              <td>{{user.load}}</td>
              <td>

                <button (click)="openImageModal(imageTemplate,user.id)" class="btn btn-sm btn-secondary" *ngIf="user.isImageVisible">
                  Show Image
                </button>
              </td>
              <td>
                <button class="btn btn-info btn-sm"
                  (click)="openUserUpdateModal(userUpdateTemplate,user.id)">Update</button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="openDeleteModal(delTemplate,user.id)">Delete</button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">

      </div>


    </li>

  </ul>
</div>

<!-- Image Galary Modal -->
<ng-template #imageTemplate>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="" *ngIf="imageList.image === imgRootPath && imageList.image1 === imgRootPath &&
                           imageList.image2 === imgRootPath &&  imageList.image3 === imgRootPath &&
                           imageList.image4 === imgRootPath">
      <div class="h3 text-center text-danger">
        No Image Available !
      </div>

    </div>

    <div class="row text-center text-lg-left">
      <div class="col-md-6 col-12" *ngIf="imageList.image != imgRootPath">
        <img class="img-fluid img-thumbnail" [src]="imageList.image" alt="NO PIC AVAILABLE">
      </div>
      <div class="col-md-6 col-12" *ngIf="imageList.image1 !=imgRootPath">
        <img class="img-fluid img-thumbnail" [src]="imageList.image1" alt="NO PIC AVAILABLE">
      </div>
      <div class="col-md-6 col-12" *ngIf="imageList.image2 !=imgRootPath">
        <img class="img-fluid img-thumbnail" [src]="imageList.image2" alt="NO PIC AVAILABLE">
      </div>
      <div class="col-md-6 col-12" *ngIf="imageList.image3 !=imgRootPath">
        <img class="img-fluid img-thumbnail" [src]="imageList.image3" alt="NO PIC AVAILABLE">
      </div>
      <div class="col-md-6 col-12" *ngIf="imageList.image4 !=imgRootPath">
        <img class="img-fluid img-thumbnail" [src]="imageList.image4" alt="NO PIC AVAILABLE">
      </div>
    </div>
  </div>
</ng-template>

<!-- Update Modal -->
<ng-template #userUpdateTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-success">Update Heat Treat</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userUpdateForm" (ngSubmit)="onUpdate()">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label class=" font-weight-bold">{{ columnList[1]?.label }}</label>
            <input type="text" formControlName="jobCardNumber" class="form-control" />
            <div class="alert alert-danger"
                  *ngIf="userUpdateForm.get('jobCardNumber').touched && userUpdateForm.get('jobCardNumber').invalid">
                  Required
              </div>
          </div>

        </div>

        <div class="col-sm">
          <div class="form-group">
            <label class=" font-weight-bold">{{ columnList[2]?.label }}</label>
            <input type="text" formControlName="firstName" class="form-control">
            <div class="alert alert-danger"
                  *ngIf="userUpdateForm.get('firstName').touched && userUpdateForm.get('firstName').invalid">
                  Required
              </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label class=" font-weight-bold">{{ columnList[3]?.label }}</label>
            <input type="text" formControlName="stationNumber" class="form-control">
            <div class="alert alert-danger"
                  *ngIf="userUpdateForm.get('stationNumber').touched && userUpdateForm.get('stationNumber').invalid">
                  Required
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label class=" font-weight-bold">{{ columnList[4]?.label }}</label>
            <input type="text" formControlName="temperature" class="form-control">
            <div class="alert alert-danger"
                  *ngIf="userUpdateForm.get('temperature').touched && userUpdateForm.get('temperature').invalid">
                  Required
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label class=" font-weight-bold">{{ columnList[5]?.label }}</label>
            <input type="text" formControlName="load" class="form-control">
            <div class="alert alert-danger"
                  *ngIf="userUpdateForm.get('load').touched && userUpdateForm.get('load').invalid">
                  Required
            </div>
          </div>

        </div>

        <div class="col-sm">
          <div class="form-group">
            <label class=" font-weight-bold">&nbsp;</label>
            <button class="btn btn-success btn-block" [disabled]="userUpdateForm.invalid" type="submit">Update</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4">
          <input type="file" accept="image/*" (change)="onChangeUpdateImage($event.target.files,0)">
          <div #img *ngIf="imageVisible.image">
            <img class="imageBorder"  width="200" height="200" [src]="updateImageList.image" alt="NO PIC AVAILABLE">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(img,'image')">Remove</button>
          </div>
        </div>
        <div class="form-group col-4">
          <input type="file" accept="image/*" (change)="onChangeUpdateImage($event.target.files,1)">
          <div #img1 *ngIf="imageVisible.image1">
            <img class="imageBorder"  width="200" height="200" [src]="updateImageList.image1" alt="NO PIC AVAILABLE">
            <button type="button" class="btn btn-danger btn-sm d-block" (click)="removeImage(img1,'image1')">Remove</button>
          </div>
        </div>
        <div class="form-group col-4">
          <input type="file" accept="image/*" (change)="onChangeUpdateImage($event.target.files,2)">
          <div #img2 *ngIf="imageVisible.image2">
            <img class="imageBorder"  width="200" height="200" [src]="updateImageList.image2" alt="NO PIC AVAILABLE">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(img2,'image2')">Remove</button>
          </div>
        </div>
        <div class="form-group col-4">
          <input type="file" accept="image/*" (change)="onChangeUpdateImage($event.target.files,3)">
          <div #img3 *ngIf="imageVisible.image3">
            <img class="imageBorder"  width="200" height="200" [src]="updateImageList.image3" alt="NO PIC AVAILABLE">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(img3,'image3')">Remove</button>
          </div>
        </div>
        <div class="form-group col-4">
          <input type="file" accept="image/*" (change)="onChangeUpdateImage($event.target.files,4)">
          <div #img4 *ngIf="imageVisible.image4">
            <img class="imageBorder"  width="200" height="200" [src]="updateImageList.image4" alt="NO PIC AVAILABLE">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(img4,'image4')">Remove</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-- Delete Modal -->

<ng-template #delTemplate>

  <div class="modal-header">
    <h4 class="modal-title pull-left text-danger">Confirmation !!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="h5">
      Are you sure to Detele this item??
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</ng-template>
