<div class="card">
    <div class=" card-header">
        <div class="h2">
            Column
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
                <table class=" table  table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Order</th>
                                <th>Label</th>
                                <th>Action</th>
                            </tr>
                            
                        </thead>
            
                        <tbody>
                            <tr *ngFor="let item of columnList">
                                <td>{{ item.order }}</td>
                                <td>{{ item.label }}</td>
                                <td><button class=" btn btn-info btn-sm" (click)="openUpdateModal(template,item)">Update</button></td>
                            </tr>
                        </tbody>
                    </table>
        </div>
       
    </div>
</div>


  <!-- Update Modal -->
  <ng-template #template>
    
    <div class="modal-header">
        <h4 class="modal-title text-center text-success">Update Column</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="columnFormUpdate" (ngSubmit)="onUpdate()">
            <div class="row">
              <div class="col">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label font-weight-bold">Label</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Enter Label" formControlName="label" class="form-control" />
                        <div class="alert alert-danger"
                            *ngIf="columnFormUpdate.get('label').touched && columnFormUpdate.get('label').invalid">
                            Please Enter label
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Order</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Enter Order" formControlName="order" type="number" min="1" class="form-control" />
                            <div class="alert alert-danger"
                            *ngIf="columnFormUpdate.get('order').touched && columnFormUpdate.get('order').invalid">
                            Please Enter Order
                            </div>
                        </div>
                    </div>
  
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button class="btn btn-success btn-block" [disabled]="columnFormUpdate.invalid"  type="submit">Update</button>
                    </div>

                </div>
  
              </div>
            </div>
          </form>
    </div>
  </ng-template>