<div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" #target>
          <div class="text-center">
              <h2>Operator Login.</h2>
                Use your Operator Number to log in.
          </div>
         
      </li>
      <li class="list-group-item">
        <form [formGroup]="operatorLoginForm" (ngSubmit)="onLogin()">
            <div class="row">
              <div class="col-4 offset-4">
    
                <div class="form-group">
                  <input type="text" placeholder="Enter Operator Number" formControlName="number" class="form-control" />
                  <div class="alert alert-danger"
                    *ngIf="operatorLoginForm.get('number').touched && operatorLoginForm.get('number').invalid">
                    Please Enter Number of Operator
                  </div>
                </div>
  
                <div class="form-group">
                  <button class="btn btn-success btn-block" [disabled]="operatorLoginForm.invalid" type="submit">Login</button>
                </div>
  
              </div>
            </div>
          </form>
      </li>
    </ul>
  </div>
