<!-- Operator Login Section -->
<div class="alert alert-dismissible alert-warning mt-1">
  <h4 class="h4">
    Welcome <b>{{ operatorName }}</b> &nbsp;|&nbsp; Operator Number:
    <b>{{ operatorNumber }}</b>
  </h4>
  <p>
    If you are not <b>{{ operatorName }}</b> please
    <button class="btn btn-danger btn-sm" (click)="loggedOut()">Click Here</button> to log off, and try again
  </p>
</div>
<br />

<!-- Change Value and Column Visibility Section -->
<div>
    <h4 class="h4">Heat Treat Input</h4>
    <button (click)="openDefaultValueModal(template)" class="btn btn-secondary">
      <i class="glyphicon glyphicon-resize-small"></i>
      Change Default Value
    </button>
    &nbsp;
    <button data-toggle="modal" data-target="#exampleModal" (click)="fillcolumnHideForm()" class="btn btn-secondary">
      <i class="glyphicon glyphicon-resize-small"></i>
      Change Visible Columns
    </button>
    <hr>
</div>

<!-- Add Row, Search and List Section -->
<div class="card">
  <ul class="list-group list-group-flush">

    <!-- Add Row Section -->
    <li class="list-group-item">
      <form #userForm="ngForm" (ngSubmit)="onAddRow(errorMsg)" autocomplete="off">
        <div class="row">
          <div class="col-sm" *ngIf="columnForViewList[1]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[1]?.label }}</label>
              <input type="text" name="jobCardNumber" ngModel #jobCardNumber="ngModel" required class="form-control" />
              <div class="alert alert-danger"
                  *ngIf="jobCardNumber.touched && jobCardNumber.invalid">
                  Required Field
              </div>

            </div>

            <div class="form-group">
              <p class=" font-weight-bold" *ngIf="imageSection">Add Some Images</p>
              <button class="btn btn-info" type="button" (click)="showImageSection()" *ngIf="!imageSection">Add Image</button>
            </div>

            <div class="imageSection" *ngIf="imageSection">
              <div class="form-group">
                <input type="file" accept="image/*" (change)="onChangeImage($event.target.files,0)">
              </div>
              <div class="form-group">
                <input type="file" accept="image/*" (change)="onChangeImage($event.target.files,1)">
              </div>
              <div class="form-group">
                <input type="file" accept="image/*" (change)="onChangeImage($event.target.files,2)">
              </div>
              <div class="form-group">
                <input type="file" accept="image/*" (change)="onChangeImage($event.target.files,3)">
              </div>
              <div class="form-group">
                <input type="file" accept="image/*" (change)="onChangeImage($event.target.files,4)">
              </div>
            </div>
          </div>

          <div class="col-sm" *ngIf="columnForViewList[2]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[2]?.label }}</label>
              <input type="text" ngModel name="firstName" #firstName="ngModel" required readonly class="form-control">
              <div class="alert alert-danger"
                  *ngIf="firstName.touched && firstName.invalid">
                  Required Field
              </div>
            </div>
          </div>

          <div class="col-sm" *ngIf="columnForViewList[3]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[3]?.label }}</label>
              <input type="text" ngModel name="stationNumber" #stationNumber="ngModel" required class="form-control">
              <div class="alert alert-danger"
                  *ngIf="stationNumber.touched && stationNumber.invalid">
                  Required Field
              </div>
            </div>
          </div>

          <div class="col-sm" *ngIf="columnForViewList[4]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[4]?.label }}</label>
              <input type="text" ngModel name="temperature" #temperature="ngModel" required class="form-control">
              <div class="alert alert-danger"
                  *ngIf="temperature.touched && temperature.invalid">
                  Required Field
              </div>
            </div>
          </div>

          <div class="col-sm" *ngIf="columnForViewList[5]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[5]?.label }}</label>
              <input type="text" ngModel name="load" #load="ngModel" required class="form-control">
              <div class="alert alert-danger"
                  *ngIf="load.touched && load.invalid">
                  Required Field
              </div>
            </div>

          </div>

          <div class="col-sm">
            <div class="form-group">
              <label class=" font-weight-bold">&nbsp;</label>
              <button class="btn btn-success btn-block" [disabled]="userForm.invalid" type="submit">Add Row</button>
            </div>
          </div>


        </div>
      </form>
    </li>

    <!-- Search and List Section -->
    <li class="list-group-item">

      <!-- Search Section -->
      <h4 class="h4">Search</h4>
      <form #searchForm="ngForm" (ngSubmit)="onSearch()" autocomplete="off">
        <div class="row">

          <div class="col-4" *ngIf="columnForViewList[0]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[0]?.label }}</label>
              <input type="text"
              name="date" ngModel
           placeholder="Daterangepicker"
           class="form-control"
           bsDaterangepicker
           [bsConfig]="{ isAnimated: true }">

            </div>
          </div>

          <div class="col-4" *ngIf="columnForViewList[1]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[1]?.label }}</label>
              <input type="text" name="jobCardNumber" ngModel class="form-control" />

            </div>
          </div>


          <div class="col-4" *ngIf="columnForViewList[2]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[2]?.label }}</label>
              <input type="text" ngModel name="firstName" class="form-control">
            </div>
          </div>

          <div class="col-4" *ngIf="columnForViewList[3]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[3]?.label }}</label>
              <input type="text" ngModel name="stationNumber" class="form-control">
            </div>
          </div>

          <div class="col-4" *ngIf="columnForViewList[4]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[4]?.label }}</label>
              <input type="text" ngModel name="temperature" class="form-control">
            </div>
          </div>

          <div class="col-4 " *ngIf="columnForViewList[5]?.isVisible">
            <div class="form-group">
              <label class=" font-weight-bold">{{ columnForViewList[5]?.label }}</label>
              <input type="text" ngModel name="load" class="form-control">
            </div>

          </div>

          <div class="col-4 offset-4">
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Search</button>
            </div>
          </div>


        </div>
      </form>

      <!-- List Section -->

      <div class="table-responsive">
        <table class="table table-striped table-active table-bordered">
            <thead class="thead-light">
              <tr>
                <th *ngIf="columnForViewList[0]?.isVisible">{{ columnForViewList[0]?.label }}</th>
                <th *ngIf="columnForViewList[1]?.isVisible">{{ columnForViewList[1]?.label }}</th>
                <th *ngIf="columnForViewList[2]?.isVisible">{{ columnForViewList[2]?.label }}</th>
                <th *ngIf="columnForViewList[3]?.isVisible">{{ columnForViewList[3]?.label }}</th>
                <th *ngIf="columnForViewList[4]?.isVisible">{{ columnForViewList[4]?.label }}</th>
                <th *ngIf="columnForViewList[5]?.isVisible">{{ columnForViewList[5]?.label }}</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList">
                <td *ngIf="columnForViewList[0]?.isVisible">{{user.date}}</td>
                <td *ngIf="columnForViewList[1]?.isVisible">{{user.jobCardNumber}}</td>
                <td *ngIf="columnForViewList[2]?.isVisible">{{user.firstName}}</td>
                <td *ngIf="columnForViewList[3]?.isVisible">{{user.stationNumber}}</td>
                <td *ngIf="columnForViewList[4]?.isVisible">{{user.temperature}}</td>
                <td *ngIf="columnForViewList[5]?.isVisible">{{user.load}}</td>
                <td>
                  <button (click)="openImageModal(imageTemplate,user.id)" class="btn btn-secondary"
                  *ngIf="user.isImageVisible">
                    Show Image
                  </button>
                </td>
    
              </tr>
            </tbody>
          </table>
    </div>

    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">

    </div>
      

    </li>
  </ul>
</div>

<!-- Modal for Default Value Setup -->
<ng-template #template>
    <form [formGroup]="defaultValueForm" (ngSubmit)="onSetValue()">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Set Station, Temperature and Load.
        </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class=" font-weight-normal">
          To automatically fill the Station Number, Temperature and Load
          fields, please enter the data below. Every new record that you add,
          will have this values by default. You can change this values later
          by clicking the -Change Default Values- button.
        </p>
        <div class="form-group">
          <label class="font-weight-bold">{{ columns[0] }}</label>
          <input type="text" formControlName="auto_StationNumber" class="form-control" />
        </div>
  
        <div class="form-group">
          <label class="font-weight-bold">{{ columns[1] }}</label>
          <input type="text" formControlName="auto_Temperature" class="form-control" />
        </div>
  
        <div class="form-group">
          <label class="font-weight-bold">{{ columns[2] }}</label>
          <input type="text" formControlName="auto_Load" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalRef.hide()" class="btn btn-secondary">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Set Value</button>
      </div>
    </form>
  </ng-template>

<!-- Visible Column  Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #f="ngForm" (ngSubmit)="onSaveChanges()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hide Columns</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Please check the columns that you would like to hide in the page.
          </p>
          <div class="form-check" *ngFor="let column of columnList">
            <input [name]="'checkbox-' + column.id" type="checkbox" ngModel class="form-check-input" checked checked
              [value]="column.id" [id]="'id-' + column.id" />
            <label class="form-check-label" [for]="'id-' + column.id">{{
              column.label
            }}</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Image Galary Modal -->
<ng-template #imageTemplate>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="" *ngIf="imageList.image === imgRootPath && imageList.image1 === imgRootPath &&
                         imageList.image2 === imgRootPath &&  imageList.image3 === imgRootPath &&
                         imageList.image4 === imgRootPath">
                    <div class="h3 text-center text-danger">
                      No Image Available !
                    </div>     

    </div>

    <div class="row text-center text-lg-left">
      <div class="col-md-6 col-12" *ngIf="imageList.image != imgRootPath">
        <img class="img-fluid img-thumbnail" [src]="imageList.image" alt="NO PIC AVAILABLE">
      </div>
      <div class="col-md-6 col-12" *ngIf="imageList.image1 !=imgRootPath">
        <img class="img-fluid img-thumbnail" [src]="imageList.image1" alt="NO PIC AVAILABLE">
      </div>
      <div class="col-md-6 col-12" *ngIf="imageList.image2 !=imgRootPath">
        <img class="img-fluid img-thumbnail" [src]="imageList.image2" alt="NO PIC AVAILABLE">
      </div>
      <div class="col-md-6 col-12" *ngIf="imageList.image3 !=imgRootPath">
        <img class="img-fluid img-thumbnail" [src]="imageList.image3" alt="NO PIC AVAILABLE">
      </div>
      <div class="col-md-6 col-12" *ngIf="imageList.image4 !=imgRootPath">
        <img class="img-fluid img-thumbnail" [src]="imageList.image4" alt="NO PIC AVAILABLE">
      </div>
    </div>
  </div>
</ng-template>
