<div class="bg-info">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" routerLink='/Home' >Production WiP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item "  *ngIf="matchRole(['Admin'])">
                <a class="btn btn-info" routerLink='/AdminHome'>Home</a>
            </li>
            <li class="nav-item" *ngIf="matchRole(['Admin'])">
                <a class="btn btn-info" routerLink="/HeatTreat/Admin">Data Records</a>
            </li>
            <li class="nav-item "  *ngIf="matchRole(['Admin'])">
              <a class="btn btn-info" routerLink='/Columns'>Columns</a>
            </li>
            <li class="nav-item "  *ngIf="matchRole(['Admin'])">
                <a class="btn btn-info" routerLink='/EmbedCodes'>Embed Codes</a>
            </li>
            
            <li class="nav-item" *ngIf="matchRole(['Admin'])">
              <a class="btn btn-info" routerLink="/Operators">Operators</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item" *ngIf="loggedIn()">
                <a class="nav-link"> Welcome {{ authService.decodedToken?.unique_name }}</a>
            </li>
            <li class="nav-item" *ngIf="matchRole(['Admin'])">
                <button class="btn btn-info" routerLink="/ChangePassword">Change Password</button>
            </li>
            <li class="nav-item" *ngIf="loggedIn()">
              <button class="btn btn-info"  (click)="loggedOut()">Logout</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  
  
